<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MovieDataExtractor">
    <test name="MovieInfoValidation Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="movieName" value="Pushpa: The Rise"/>
        <classes>
            <class name="testCases.MovieInfoValidation"/>
        </classes>
    </test>
    </suite>